<!DOCTYPE html>
<html>

<head>
  <title>Interest</title>
  <link rel='stylesheet' href='/stylesheets/register.css' />
</head>

<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
        class="img1" />
      <p class="header">Create New Account</p>
      <form action="/register" method="post">
        <input type="text" name="username" placeholder="User Name" class="detail" /><br />
        <input type="text" name="fullname" placeholder="Full Name" class="detail" /><br />
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" />

        <input type="submit" class="btn int" value="Sign Up">
      </form>

      <!-- Footer -->
      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <p>Already have an Account? <a style="text-decoration: none;" href="/login">Sign in</a></p>
      </footer>
    </div>
  </div>
</body>

</html>